@import url(full.css);
$fz-36:36px;
$clr-sec:#F0EFEB;

.title{
   font-weight: 700;
   font-size:  clamp(1.3rem, 6vw, 2.25rem);
   line-height: 1.16;
   color: #000;
}
/*-------------------------------------------------------------------------------------------------*/
.deeper {
   padding: 1rem 0;
   background-color: $clr-sec;
}
.deeper__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.deeper__body {
   max-width: 535px;
   & h1{
      font-weight: 700;
      font-size: clamp(1.5rem,7vw,3.75rem);
      margin-bottom: 42px;
   }
   & p{
      font-size: 1.5rem;
      margin-bottom: 1rem;
   }  
   
}
.link {
   display: inline-block;
   padding: 8px 1.5rem;
   background-color: #000;
   color: #fff;
   border-radius: 100px;
}
.deeper__image {
   position: relative;
   left: 10px;
 
   & img{
      width: 100%;
   }
}
@media (max-width: 767px){
   .deeper__container{
      flex-direction: column;
   }
   .deeper__body p{
      font-size: 1rem;
   }
}


/*-------------------------------------------------------------------------------------------------*/
.guid {
   text-align: center;
   padding: 60px 10px 85px;

   & .title {
      margin-bottom: 1.75rem;
   }
   & p{
      max-width: 39.375rem;
      margin: 0 auto 2.8125rem;
   }
   & h5{

   }
}
/*---------------------------------bestsellers----------------------------------------------------------------*/
.bestsellers {
   padding-bottom: 3.125rem;
}
.bestsellers__container {
   display: flex;
   justify-content: space-between;
   row-gap: 2rem;
   column-gap: 1rem;
   flex-wrap: wrap;

   @media (max-width: 1000px){
   justify-content: center;
   }
}
.bestsellers__item {

}
.bestseller__image {
   margin-bottom: 1.75rem;
   height: 430px;
   width: 100%;
 
   & img{
      width: 100%;
      height: 100%;
   }
}
.bestsellers__text {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   text-align: center;
   font-size: 17px;

   & h5{
      max-width: 150px;
      margin: auto;
      font-weight: 700;
   }
}
.bestsellers__link {
   color: inherit;
   font-weight: 700;
   text-decoration: underline;
}


/*-------------------------------------------------------------------------------------------------*/
.cards {
   padding: 50px 0;
}
.cards__item {

}
.cards__item:nth-child(1),
.cards__item:nth-child(3){
   background: rgba(204, 204, 204, 0.3);
}
.cards__item:nth-child(2){
   background-color: rgba(204, 204, 204, 0.6);
   
   & .item__container {
      flex-direction: row-reverse;
      text-align: end;
   }
}


.item__container {
 padding: 75px 10px 50px;
   display: flex;
   align-items: center;
   gap: 50px;

   & img{
      max-width: 100%;
   }
}


.cards__body {
   max-width: 33.125rem;

   & h3{
      margin-bottom: 1.875rem;
   }
   & p{
      font-size: clamp(1rem,4vw, 36px);
      line-height: 1.16;
      margin-bottom: 2.5rem;
   }

   & a{
      color: inherit;
      text-decoration: underline;
      font-size: 1.0625rem;
      font-weight: 700;
   }
}

@media (max-width: 820px){
   .item__container,
   .cards__item:nth-child(2) .item__container{
      flex-direction: column;
      text-align: center;
   }
}
/*-----------------------someof--------------------------------------------------------------------------*/
.someof {
   padding: 50px 0;
}
.someof__container {

   & .title{
      font-weight: 400;
      text-align: center;
      margin-bottom: 3.75rem;
   }
}

.someof__body {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
   column-gap: 1.5rem;
   row-gap:  clamp(2rem,6vw,6.25rem);
}
.someof__item {
   text-align: center;
   & span{
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin:0 auto 1.625rem;
      background-color: #21F7EC;
   }

   & p{
      font-weight: 700;
      font-size: 1.875rem;
   }
}
.someof__item:nth-child(2) span{
   background-color: #5cc420;
}
.someof__item:nth-child(3) span{
   background-color: #e98008;
}
.someof__item:nth-child(4) span{
   background-color: #cb16d1;
}
.someof__item:nth-child(5) span{
   background-color: #4d18e0;
}
.someof__item:nth-child(6) span{
   background-color: #ff0000;
}

/*-------------------------------------------------------------------------------------------------*/
.interviews {
   padding: 50px 0;

& .title {
   max-width: 700px;
   margin: auto;
   margin-bottom: 17.8125rem;
   text-align: center;
}
}
.interviews__body {
   background-color: #F0F0F0;
   padding-bottom: 50px;
 
}
.interviews__container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1rem;
   row-gap: 230px;

   @media (max-width: 900px){
      justify-content: center;
   }
}
.blockquote {
   margin-top: -185px;
   text-align: center;
   max-width: 280px;
   font-weight: 700;
   
   & img{
      margin-bottom: 2.25rem;
      max-width: 100%;
   }
   & a{
      color: inherit;
      text-decoration: underline;
   }
}
.blockquote__text{
   font-size: 1.375rem;
   margin-bottom: 40px;
}
.blockquote__name {
   font-weight: 400;
   font-size: 19px;
   margin-bottom: 2.75rem;
}

/*-------------------------------------------------------------------------------------------------*/
.keepin {
   padding: 70px 0;
}
.keepin__container {
}
.keepin__form {
   text-align: center;

   & .title{
      margin-bottom: 10px;
   }
   & p{
      font-weight: 700;
   font-size: 17px;
   margin-bottom: 1.625rem;
   }
}
.keepin__info {
   max-width: 400px;
   margin: auto;
   display: flex;
   flex-direction: column;
}
.form__name{
   display: flex;
   gap:clamp(1rem,5vw,3.75rem);
   margin-bottom: 1.125rem;
}
.form-group {
   position: relative;
   border: 1px solid #000;
}
.form-input{
   padding: 12px 8px;
   width: 100%;
   font-size: 1rem;
   background: transparent;
}
.form-label{
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   left: 8px;
   color: #A0A0A0;
   font-size: 0.875rem; 
   transition: 0.3s;
   z-index: -1;
}

.form-button {
  width: max-content;
  margin:1rem auto 0;
  font-size: 14px;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label{
   top: -10px;
   font-size: 12px;
   color: #000;
}



.scroll-up {
   position: fixed;
   right: 3.125rem;
   bottom: 3.125rem;
   z-index: 1000;
   width: 50px;
   height: 50px;
   color: #26ee0b;
   cursor: pointer;
   visibility: hidden;
   border-radius: 50%;
   box-shadow: inset 0 0 0 4px #69686891;
   opacity: 0;
   transition: .2s;
   transform: translateY(25px);
   border: none;
   &:hover{
      color: orange;
   }
   &::before{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 1.25rem;
      content:'↑';
   }
}

._active{
   visibility: visible;
   opacity: 1;
   transform: translateY(0);
}


.scroll-up__svg-path {
   box-sizing: border-box;
   fill: none;
   stroke: orange;
   stroke-width: 4px;
   transition: 0.2s;
}